
.user-info {
    @apply flex items-center mt-10 ml-10 mb-6;
  }

  .profile-image {
    @apply w-36 h-36 rounded-full mr-8;
  }
  
  .user-details {
    @apply ml-4;
  }
  
  .user-details h2 {
    @apply text-xl font-bold mb-3;
  }
  
  .user-details p {
    @apply text-sm mb-2;
  }

  .location {
    display: flex;
    align-items: center;
  }

  .location-icon {
    width: 16px;
    height: 16px;
    @apply mr-2
  }
  
  .user-details a {
    @apply text-gray-900;
  }

.url {
  display: flex;
  align-items: center;
  @apply ml-4
}

.link-icon {
  width: 16px;
  height: 16px;
  @apply mr-2
}

